.carousel {
	overflow: hidden;

	.inner {
		white-space: nowrap;
		transition: transform 0.3s;
		position: relative;
	}
}

.carousel-item {
	display: inline-flex;
	justify-content: center;
	color: #fff;
}

.carousel .indicators {
	display: none;
}

@keyframes dotWidthAnimation {
	from {
		width: 6px;
	}
	to {
		width: 20px;
	}
}

@keyframes dotReduceWidthAnimation {
	from {
		width: 20px;
	}
	to {
		width: 6px;
	}
}

@media screen and (min-width: 992px) {
	.carousel .indicators {
		position: absolute;
		z-index: 2;
		display: flex;
		gap: 10px;
		animation: slideToTop 1.8s;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 20px;

		.dot {
			animation: dotReduceWidthAnimation 1s;
			width: 6px;
			height: 6px;
			border-radius: 100%;
			background: #fff;
			cursor: pointer;
		}

		.dot-active {
			animation: dotWidthAnimation 1s;
			height: 6px;
			width: 20px;
			border-radius: 100px;
			background: #fff;
			cursor: pointer;
		}
	}
}
